@model Sah.Models.LocalPasswordModel

<p>
    Nemate lokalnu lozinku za ovu stranicu. Dodajte lokalnu lozinku
    da se mozete prijaviti bez vanjske prijave.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Postavi lozinku forma</legend>
        <ol>
            <li>
                Nova lozinka
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                Potvrdi lozinku
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Set password" />
    </fieldset>
}
