/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Artifice
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120813
*/

#LijeviPregled
{
    width:330px;
    float:left;
}

#DesniPregled
{
   
    padding-top:60px;
    width:630px;
    float:left;
}

#ploca
{
    width:520px;
    height:520px;
}

.slikaFigura
{
    
    width:60px;
    height:60px;
}

.bijeloPolje
{
    background-color:white;
    width:60px;
    height:60px;
}

.crnoPolje
{
    background-color:#66B2FF;
    width:60px;
    height:60px;
}

.znakPoljeVertikalno
{
    height:60px;
    width:20px;
    background-color:#0080FF;
    text-align:center;
}

.znakPoljeHorizontalno
{
    text-align:center;
    width:60px;
    height:20px;
    background-color:#0080FF;
}

.kut
{
    background-color:#0080FF;
    width:20px;
    height:20px;
}

.zapisnik
{
    padding:5px;
    margin:5px;
    text-align:center;
}

.Bijeli
{
    width:270px;
    float:left;
}

.Crni
{
    width:270px;
    float:left;
}

.listaPartija
{
    padding:7px;
    margin:7px;
    text-align:center;
}

.LijeviPartija
{
    width:540px;
    float:left;
}

.DesniPartija
{
    padding-top:100px;
    width:420px;
    float:left;
}

.RedNajboljih
{
    padding-right:20px;
    padding-left:20px;
    padding-bottom:10px;
    margin:20px;
    text-align:center;
}

#naslovnicaProblemi
{
    text-align:center;
    float:left;
    width:640px;
}

#tablicaPozicija
{
    padding:10px;
    text-align:center;
}

.nazivPozicije
{
    text-align:center;
}

#pozicijaDetalji
{
    float:right;
    position:relative;
    padding:10px;
    margin:15px;
    text-align:center;
    width:300px;
}

.opisPozicija
{
    font-family:Britannic;
    font-size:17px;
}

#LijeviProfil
{
    width:250px;
    float:left;
}

#DesniProfil
{
    margin-top:30px;
    padding-top:30px;
    width:700px;
    float:left;
    text-align:center;
}

.LijeviDodaj
{
    width:480px;
    float:left;
}

.DesniDodaj
{

    padding-top:100px;
    padding-left:30px;
    width:440px;
    float:left;
}

.LijeviRegistracija
{
    width:480px;
    float:left;
}

.DesniRegistracija
{
    width:480px;
    float:left;
    margin-top:30px;
    padding-top:30px;
    font-family:Cambria;
    font-size:18px;
}


.img
{
    border: 3px solid #bbb;
    border-style:none;
        list-style: none;
        width: 200px;
        height: 200px;
        position: relative;
        float: left;
        overflow: hidden;
        padding:40px;
        text-align:center;
}

#stranicaPrvaka
{
    padding:20px;   
    width:600px;
}

#stranicaCitati
{
    padding:20px;
    width:500px;
}

.opisPrvak
{
    position:relative;
   padding-left :250px;
   height:250px;
}

.prvakIdentifikacija
{
    float:left;
    text-align:center;
    width:150px;
}

.slikaPrvaka
{
    float:left;
    width:150px;
    height:150px;
}

#naslovnicaProblemi
{
    text-align:center;
    float:left;
    width:680px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: #AFAFAF;
	background: #040606 url(images/img01.gif) repeat top left ;
	line-height: 2em;
	font-size: 12pt;
}

body,input {
	font-family: 'Ubuntu Condensed', sans-serif;
}

br.clearfix {
	clear: both;
}

#komentariDolje
{
    padding-top:175px;
}

a {
	text-decoration: underline;
	color: #E3E3E3;
}

a:hover {
	text-decoration: none;
}

strong {
	color: #D9D9D9;
}


h1,h2,h3,h4 {
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-size: 1.75em;
}

h2,h3,h4 {
	color: #E3E3E3;
	font-family: Kreon, sans-serif;
	margin-bottom: 1.25em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.75em;
}

ul {
	margin-bottom: 1.75em;
}

ul h4 {
	margin-bottom: 0.4em;
}

.box {
	margin: 0 0 25px 0;
	overflow: hidden;
}

#content {
	width: 960px;
	padding: 0;
	float: left;
}

#footer {
	padding: 0 0 90px 0;
	text-align: center;
	color: #555;
}

#footer a {
	color: #707070;
}

#logoutForm {
    display: inline;
}

#login a.username 
{
        background: none;
        margin: 0px;
        padding: 10px;
        text-decoration:underline;
}

#header {
	width: 1100px;
	padding: 40px;
	position: relative;
	height: 70px;
}


#logo {
	height: 180px;
	line-height: 120px;
	top: 40px;
	left: 40px;
    width:1100px;
	position: absolute;
}

#logo a {
	color: #FFF;
	text-decoration: none;
}

#logo h1 {
	font-size: 3.25em;
	font-family: Kreon, sans-serif;
}

#menu {
	position: absolute;
	right: 40px;
	top: 68px;
	font-family: Kreon, sans-serif;
	height: 70px;
	line-height: 70px;
}

#menu a {
	font-size: 1.25em;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 0 20px 0 20px;
}

#page {
	margin: 0;
	width: 1100px;
	position: relative;
	padding: 0px 40px 0px 40px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	clear: both;
	padding: 25px 0 25px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #404040;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#col1 {
	width: 195px;
	float: left;
	overflow: hidden;
}

#col2 {
	width: 195px;
	margin: 0 0 0 220px;
	overflow: hidden;
}

#sidebar1 {
	padding: 0;
	margin: 0 0 0 445px;
	width: 315px;
}

#sidebar2 {
	width: 315px;
	float: right;
	padding: 0;
}

#splash {
	height: 295px;
	width: 1180px;
	padding: 0;
	position: relative;
}

#wrapper {
	background: #000000 url(images/img02.gif) repeat-x top left;
	margin: 75px auto 0 auto;
	width: 1180px;
	position: relative;
	box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,0.05), 0px 0px 30px 0px rgba(0,0,0,0.5);
}