@{
    ViewBag.Title = "Citati";
}

<h2>Citati</h2>
<div id="stranicaCitati">
    <h4 class="autorCitat">Robert James Fischer :</h4>
    <p class="tekstCitat">Šah je rat na ploči gdje je cilj srušiti protivnikov um.</p>
    <h4 class="autorCitat">Mikhail Tal :</h4>
    <p class="tekstCitat">Postoje dvije vrste žrtvi : korektne i moje.</p>
    <h4 class="autorCitat">Mikhail Tal :</h4>
    <p class="tekstCitat">Igrati na remi sa bijelima na bilo koji način, je na nekom nivou zločin protiv šaha.</p>
    <h4 class="autorCitat">Jose Raul Capablanca :</h4>
    <p class="tekstCitat">Dobar igrač uvijek ima sreće.</p>
    <h4 class="autorCitat">Mikhail Botvinnik :</h4>
    <p class="tekstCitat">Igrao sam blic partiju jednom. Bilo je to u vlaku 1929.</p>
    <h4 class="autorCitat">Wilhelm Steinitz :</h4>
    <p class="tekstCitat">Šah nije za ljude slabog srca, on zahtijeva čitavu osobu. Za ulazak u srž
                            ove igre čovjek mora postati šahovski rob. Šah je težak, zahtijeva puno rada,
                            ozbiljna razmišljanja i predana istraživanja.
    </p>
    <h4 class="autorCitat">Savielly Tartakower :</h4>
    <p class="tekstCitat">Uvijek je bolje žrtovati protivnikove ljude.</p>
    <h4 class="autorCitat">Alexander Alekhine :</h4>
    <p class="tekstCitat">Igranje na komplikacije je ekstremna mjera na koju igrač treba igrati samo 
                            ako ne može pronaći razumni i logički plan.</p>
    <h4 class="autorCitat">Bent Larsen :</h4>
    <p class="tekstCitat"> Često igram potez koji znam kako oboriti.
    </p>
    <h4 class="autorCitat">Robert James Fischer :</h4>
    <p class="tekstCitat">Koncetriraj se na materijalne dobitke. Sve što ti protivnik daje, uzmi, osim ako
                            ne vidiš dobar razlog za suprotno.
    </p>
    <h4 class="autorCitat">Emanuel Lasker :</h4>
    <p class="tekstCitat">Kada vidiš dobar potez, potraži bolji.</p>
    <h4 class="autorCitat">Emanuel Lasker :</h4>
    <p class="tekstCitat"> Dobar plan je jednako teško pronaći kao i njegovo dobro opravdanje.
    </p>
    <h4 class="autorCitat">Max Euwe :</h4>
    <p class="tekstCitat">Strategija zahtijeva razmišljanje, taktika zahtijeva opažanje. 
    </p>
    <h4 class="autorCitat">Paul Morphy :</h4>
    <p class="tekstCitat">Pomnogi svojim figurama tako da one mogu pomoći tebi.</p>
    <h4 class="autorCitat">Rueben Fine :</h4>
    <p class="tekstCitat"> Prvi princip napada jest : ne daj protivniku da se razvije!
    </p>
    <h4 class="autorCitat">Garry Kasparov :</h4>
    <p class="tekstCitat">U šahu su pravila fiksna i rezultat nepredvidiv, dok u Putinovoj Rusiji,
                            pravila su nepredvidiva, a rezultat fiksan.
    </p>
</div>