@{
    ViewBag.Title = "Povijest";
}

<h2>Povijest</h2>
<div id="stranicaPrvaka">
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Steinitz.jpg" / alt="Steinitz">
        <p>Wilhelm Steinitz Czechoslovakia <br />	1886 - 1894</p>
    </div>
    <div class="opisPrvak">
        <p>Izjavio je 1877. da igra šah s bogom u snovima 
            te da ga pobjeđuje s tim da mu daje konja više na početku partije.
            Steinitz je pobijedio Johannesa Zukertota 1886. i tako postao prvi
            svjetski prvak.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Lasker.jpg" / alt="Lasker">
        <p>Emanuel Lasker	Germany <br />	1894 - 1921</p>
    </div>
    <div class="opisPrvak">
        <p>Emanuel Lasker je držao titulu svjetskog prvaka 27 godina što je najduže 
            u odnosu na ostale prvake. (1894.-1921.)
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Capablanca.jpg" / alt="Capablanca">
        <p>Jose Raul Capablanca			Cuba	<br />	1921 - 1927</p>
    </div>
    <div class="opisPrvak">
        <p>Jose Raul Capablanca tijekom igranja turnira u razdoblju od 1916 do 1924 godine 
            nije izgubio nijednu partiju. Osim što su ga poznavali kao velikog šahovskog majstora,
             Capablanca je bio poznat kao i veliki ljubitelj žena.</p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Alekhine.jpg" / alt="Alekhine">
        <p>Alexander  Alekhine	USSR	<br />	1927 - 1935  1937 - 1946</p>
    </div>
    <div class="opisPrvak">
        <p>Jednom prilikom je Aljehin trebao održati simultanku na 40 ploča. U međuvremenu 
            je utjecajni političar izrazio želju da želi igrati i dodana je 41. ploča.
            Dok je Aljehin došao do te ploče samo ju je preokrenuo.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Euwe.jpg" / alt="Euwe">
        <p>Machgielis (Max) Euwe	Netherlands <br />	1935 - 1937</p>
    </div>
    <div class="opisPrvak">
        <p>Max Euwe je svoj život više posvećivao matematici nego šahu.</p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Botvinik.jpg" / alt="Botvinik">
        <p>
            Mikhail Moiseevich Botvinnik		USSR	<br />	1948 - 1957 1958 - 1960  1961 - 1963
        </p>
    </div>
    <div class="opisPrvak">
        <p>
            Jedini svjetski prvak koji je igrao protiv 12 svjetskih prvaka!
            Sa svima od Laskera do Kramnika.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Smyslov.jpg" / alt="Smyslov">
        <p>Vasily Vasilievich Smyslov		USSR	<br />	1957 - 1958</p>
    </div>
    <div class="opisPrvak">
        <p>
            Smyslov je bio bariton pa se kasnije okrenuo šahovskoj karijeri kada nije prošao
            na audiciji u Bolshoi kazalištu.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Tal.jpg" / alt="Tal">
        <p>Mikhail Nekhemievich Tal		USSR	<br />	1960 - 1961</p>
    </div>
    <div class="opisPrvak">
        <p>Postao svjetski prvak sa samo 23 godine.</p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Petrosian.jpg" / alt="Petrosian">
        <p>Tigran Vartanovich Petrosian		USSR	<br />	1963 - 1969</p>
    </div>
    <div class="opisPrvak">
        <p>Jednom prilikom je ponudio remi Svetozaru Gligoriću, 
            kojeg je on inicijalno odbio no predomislio se nakon par poteza i ponudio natrag remi. 
            Petrosian ga nije čuo i nastavio igrati te na kraju pobijedio u partiji. Poslije se 
            ispostavilo da je isključio slušni aparat i nije čuo Gligorića kad mu je nudio remi.</p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Spaski.jpg" / alt="Spaski">
        <p>Boris Vasilievich Spassky		USSR	<br />	1969 - 1972</p>
    </div>
    <div class="opisPrvak">
        <p>
            Najčešće je bio opisivan kao univerzalan igrač. Nikada nije bio
            stručnjak za otvaranja. Specijalnost su mu bile središnjice, a
            bio je i veliki taktičar.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Fischer.jpg" / alt="Fischer">
        <p>Robert James (Bobby) Fischer		USA 	<br />	1972 - 1975</p>
    </div>
    <div class="opisPrvak">
        <p>Fischer je izgubio samo tri partije u 8 prvenstava SAD-a koja je osvojio.
             Nakon što su odbili njegove uvjete za odigravanje meča sa Karpovom odlučeno je 
            da je Fischer predao bez borbe svoju titulu svjetskog prvaka 1975.</p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Karpov.jpeg" / alt="Karpov">
        <p>Anatoly Evgenievich Karpov		USSR	<br />	1975 - 1985</p>
    </div>
    <div class="opisPrvak">
        <p>Karpov je bio poznat i kao veliki kolekcionar poštanskih maraka.</p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Kasparov.jpg" / alt="Kasparov">
        <p>Garry Kimovich Kasparov	 	USSR		1985- 1993
             PCA Champion 1993 – 2000
        </p>
    </div>
    <div class="opisPrvak">
        <p>Kasparov se umirovio od šaha 2005. i posvetio se politici i promoviranju demokracije u Rusiji.
            1996. postao je prvi svjetski prvak koji je izgubio od računala igrano na vremensku kontrolu
            ali je pobijedio u meču.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Kramnik.jpg" / alt="Kramnik">
        <p>Vladimir Kramnik			Russia	<br />	2000-2007</p>
    </div>
    <div class="opisPrvak">
        <p>
            Igrao je meč od 6 partija protiv računalnog programa Deep Fritz u Bonnu 2006.
            Meč je izgubio 4-2 sa 2 poraza i 4 remija. Za samo igranje u meču je primio
            500,000 eura.
        </p>
    </div>
    <div class="prvakIdentifikacija">
        <img class="slikaPrvaka" src="../../Images/Prvaci/Anand.jpg" / alt="Anand">
        <p>Viswanathan Anand			India <br />		2007-present</p>
    </div>
    <div class="opisPrvak">
        <p>
            Zovu ga "Tiger of Madras".
        </p>
    </div>
</div>