@using Sah.Pozicije;
@{
    SpremistePozicija spremiste = new SpremistePozicija();
}

@model IEnumerable<Sah.Models.DioIgre>

@{
    ViewBag.Title = "Otvaranje";
}

<h2>Otvaranje</h2>
@foreach (var item in Model)
{
        <ul>
            <li class="img">
                <a href="@Url.Action("Details", "Pozicija", new { id = item.idDioIgre })">
                    <img src= "@Url.Content(spremiste.DohvatiPoziciju(item.idDioIgre, VelicinaPozicije.mala))" alt="@Html.AttributeEncode(item.opis)" />
                <br />
                    <span class="nazivPozicije">@Html.DisplayFor(modelItem => item.naziv)</span>
                </a>
            </li>
        </ul>
}
